VITE_SUPABASE_URL=https://ztjplidhfuquwmwwdbbw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp0anBsaWRoZnVxdXdtd3dkYmJ3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA4ODYyNzEsImV4cCI6MjA5NjQ2MjI3MX0.LXvf19t4NaE2l5PnoqxANRhvv6pwDJjfwvLLx7y808I
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_W-EonYd0RzNTVLy9kWbu0g_t8UAHvn3